# Ignore pycache
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/

# Data folders
data/
lightning_logs/
logs/
temp_plots/
plots/
check_functions/
checkpoints/
scripts/
wandb/

# Exceptions
!scripts/example_script.py

