# Ignore pycache
**/__pycache__/
*.py[cod]
*$py.class
*.pyc
*.out

# Virtual env
venv/

# Depreciated
terminal_archive/
data/
lightning_logs/
logs/
temp_plots/
plots/
check_functions/
checkpoints/
wandb/
scripts/*
# Exceptions
!scripts/example_script.py
